In [1]:
print("this is the solution of the 22nd march assignment")

this is the solution of the 22nd march assignment

Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [40]:
import numpy as np
import pandas as pd
time = np.random.randint(0,8,50).tolist()
scores = np.random.randint(0,100,50).tolist()

df1 = pd.DataFrame(time,columns=['time'])
df2 = pd.DataFrame(scores,columns=['scores'])
df3 =pd.concat([df1,df2],axis=1)
df3.corr(method='pearson')

            time    scores
time    1.000000  0.059838
scores  0.059838  1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [43]:
import numpy as np
import pandas as pd
sleep = np.random.randint(0,10,50).tolist()
job_sats = np.random.randint(0,10,50).tolist()

df1 = pd.DataFrame(sleep,columns=['sleep'])
df2 = pd.DataFrame(job_sats,columns=['job_sats'])
df3 =pd.concat([df1,df2],axis=1)
df3.corr(method='spearman')

             sleep  job_sats
sleep     1.000000  0.152467
job_sats  0.152467  1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [45]:
import numpy as np
import pandas as pd
hours = np.random.randint(0,5,50).tolist()
bmi = np.random.randint(10,30,50).tolist()

df1 = pd.DataFrame(hours,columns=['hours'])
df2 = pd.DataFrame(bmi,columns=['BMI'])
df3 =pd.concat([df1,df2],axis=1)
df3.corr(method='spearman')

          hours       BMI
hours  1.000000  0.191281
BMI    0.191281  1.000000

In [46]:
df3.corr(method='pearson')

        hours     BMI
hours  1.0000  0.1804
BMI    0.1804  1.0000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [54]:
import numpy as np
import pandas as pd
hours = np.random.randint(0,10,50).tolist()
level = np.random.randint(0,10,50).tolist()

df1 = pd.DataFrame(hours,columns=['hours'])
df2 = pd.DataFrame(level,columns=['level'])
df3 =pd.concat([df1,df2],axis=1)
df3.corr(method='pearson')

          hours     level
hours  1.000000 -0.099285
level -0.099285  1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [61]:
age = [25,42,37,19,31,28]
soft_drink = ['coke','pepsi','mountain dew','coke','pepsi','coke']
df4 = pd.DataFrame([age,soft_drink])

df4.corr(method='pearson')

C:\Users\kaush\AppData\Local\Temp\ipykernel_25468\2216581411.py:5: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df4.corr(method='pearson')

Empty DataFrame
Columns: []
Index: []

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [62]:
import numpy as np

# Sample data for the number of sales calls per day (X) and the number of sales per week (Y)
sales_calls_per_day = [10, 12, 15, 8, 9, 14, 16, 11, 13, 10, 12, 9, 7, 11, 14, 15, 10, 12, 13, 11, 9, 8, 10, 13, 16, 14, 12, 11, 9, 10]
sales_per_week = [5, 6, 8, 4, 5, 7, 9, 6, 7, 5, 6, 4, 3, 6, 7, 8, 5, 6, 7, 6, 4, 4, 5, 7, 9, 8, 6, 5, 4, 5]

# Calculate the Pearson correlation coefficient
correlation_coefficient = np.corrcoef(sales_calls_per_day, sales_per_week)[0, 1]

print("Pearson correlation coefficient:", correlation_coefficient)

Pearson correlation coefficient: 0.9788396627415287